#dropbox {
    font-size: 3em;
    text-align: center;
    border: 10px dashed;
}

#result {
    font-size: 1.5em;
}

.loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
